<!-- <div class="wrapper"> -->
<div class="headerContent header row col-sm-12">
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/dashboard']">Home </a></div>
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/why-us']">Why Us? </a></div>
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/management']">Management</a></div>
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/about-us']">About Us </a></div>
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/profile']">Profile </a></div>
    <div class="col-sm-2"><a class="underlineHover" [routerLink]="['/sign-in']">Logout. </a></div>
</div>