<div class="wrapper">
    <div class="formContent pt-5 forgot-password">
        <!-- Login Form -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="email" placeholder="email">
            <input type="submit" [disabled]="!forgotPasswordForm.valid" value="Request">
        </form>
        <!-- Remind Passowrd -->

        <div><a class="underlineHover" [routerLink]="['/sign-in']">Back.</a></div>
        <br>
    </div>
</div>